#gauge-demo {
    height: 440px;
    width: 100%;
}
 
#gauge {
    width: 80%;
    height: 100%;
    margin-top: 20px;
    float: left;
}
 
.action-container {
    width: 20%;
    text-align: left;
    margin-top: 20px;
    float: left;
}
 
.color-box {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}
 
.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}