#gauge-demo {
    height: 440px;
    width: 100%;
}

#gauge-demo .gauge-element {
    height: 100%;
    width: 30%;
    float: left;
}

#gauge-demo .dx-selectbox {
    float: right;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}