body {
    overflow-y: scroll;
}

body,
html {
    margin: 0;
    min-width: 1000px;
    padding: 0;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Verdana, "san-serif";
}

@font-face {
    font-family: "OpenSansCondensedBold";
    src: url("../fonts/OpenSansCondensedBold.eot");
    src: url("../fonts/OpenSansCondensedBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansCondensedBold.woff") format("woff"), url("../fonts/OpenSansCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body.dx-viewport {
    line-height: normal;
}

body.dx-viewport h1,
body.dx-viewport h2,
body.dx-viewport h3,
body.dx-viewport h4,
body.dx-viewport h5 {
    color: #1B4461;
    font-weight: normal;
    font-family: 'OpenSansCondensedBold', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;
}

body.dx-viewport h1 {
    font-size: 32px;
    padding: 20px 0;
}

.header {
    min-width: 1000px;
    font-family: 'OpenSansCondensedBold', 'HelveticaNeue-CondensedBold', Helvetica, 'Arial Narrow', Calibri, Arial, 'Lucida Grande', sans-serif;
    width: 100%;
    height: 60px;
}

.header-container {
    position: relative;
    z-index: 2;
    height: 100%;
    border-bottom: 2px solid #e9ebef;
}

.header .logo {
    font-size: 27px;
    text-decoration: none;
    float: left;
    margin: 10px 10px 10px 30px;
    color: #f05b41;
}

.header .header-menu {
    float: left;
}

header.header .header-menu > ul {
    margin-left: 0;
    padding-left: 10px;
    margin-top: 0;
}

.header .header-menu > ul > li {
    list-style: none;
    float: left;
    padding: 0 8px;
}

.header .header-menu > ul > li > a {
    font-size: 16px;
    text-decoration: none;
    color: #627789;
    border-top: 5px solid transparent;
    line-height: 53px;
    display: block;
    height: 53px;
    position: relative;
}

.header .header-menu > ul > li > a:hover {
    color: #F05B41;
}

.header .header-menu > ul > li > a.active {
    border-top: 5px solid #f05b41;
}

header.header .header-buttons {
    float: right;
}

.header .header-buttons a {
    width: 34px;
    height: 34px;
    display: inline-block;
    margin: 13px 2px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    cursor: pointer;
}

.header .header-buttons .buy {
    background-image: url('../images/Layout/icon-buy.svg');
}

.header .header-buttons .buy:hover {
    background-image: url('../images/Layout/icon-buy-hover.svg');
}

.header .header-buttons .download {
    background-image: url('../images/Layout/icon-trial.svg');
}

.header .header-buttons .download:hover {
    background-image: url('../images/Layout/icon-trial-hover.svg');
}

.header .header-buttons .dx-logo-container {
    display: inline-block;
    width: 115px;
    padding-right: 20px;
    height: 60px;
    margin-left: 11px;
    text-align: right;
}

.header .header-buttons .dx-logo-container .dx-logo-image {
    width: 107px;
    height: 22px;
    margin: 19px 0 19px 1px;
    background-image: url(../images/Layout/dx-header-logo.svg);
}

.body {
    position: relative;
}

.widgets-menu {
    position: absolute;
    height: 100%;
    z-index: 1;
    width: 260px;
    background: #f5f5f5;
    background: -moz-linear-gradient(left, #ffffff 0%, #f5f5f5 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#f5f5f5 100%);
    background: linear-gradient(to right, #ffffff 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=1 );
}

.widgets-menu .dx-treeview {
    padding: 20px 0 0 27px;
}

.widgets-menu .dx-treeview li.dx-treeview-node .dx-item a {
    text-transform: uppercase;
    color: #627789;
    font-weight: bold;
}

.widgets-menu .dx-treeview li.dx-treeview-node.dx-state-selected > .dx-item a {
    color: #f05b41;
}

.widgets-menu .dx-treeview li.dx-treeview-node li.dx-treeview-node .dx-item a {
    text-transform: none;
}

.widgets-menu .dx-treeview li.dx-treeview-node li.dx-treeview-node:not(.dx-state-selected) .dx-item a {
    color: #1b4461;
    font-weight: normal;
}

.widgets-menu .dx-treeview li.dx-treeview-node.dx-state-selected:not(.dx-treeview-node-is-leaf) .dx-item {
    background-color: transparent;
}

.widgets-menu .dx-treeview li.dx-treeview-node.dx-treeview-node-is-leaf.dx-state-selected .dx-item {
    background-color: #e9e9e9;
    border-right: 4px solid #f05b41;
}

.widgets-menu .dx-treeview li.dx-treeview-node.dx-treeview-node-is-leaf.dx-state-selected .dx-item a {
    font-weight: normal;
}

.widgets-menu .dx-scrollable-content > ul > li .dx-treeview-toggle-item-visibility:before {
    content: "";
    background-image: url(../images/Menu/treeview_collapsed_icon.png);
    width: 9px;
    height: 9px;
    left: 18px;
    top: 21px;
}

.widgets-menu .dx-scrollable-content > ul > li .dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened:before {
    content: "";
    background-image: url(../images/Menu/treeview_expanded_icon.png);
}

.demo-wrapper {
    margin-left: 260px;
    padding: 0 30px 30px;
}

.demo-wrapper .simulator {
    border: 1px solid #E9E9E9;
    min-height: 440px;
}

.demo-wrapper .simulator .demo-device {
    border: 8px solid #F5F5F5;
    min-height: 440px;
}

.demo-wrapper .simulator .demo-device .demo-display {
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    padding: 20px 30px;
    min-height: 440px;
    position: relative;
}

.demo-wrapper .simulator .demo-device .demo-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    min-height: 450px;
}

.demo-wrapper .description {
    padding-bottom: 20px;
}

.description > div > p {
    margin-top: 19px;
    margin-bottom: 19px;
}

.description > div > p:first-child {
   margin-top: 0;
}

.description > div > p:last-child {
    margin-bottom: 0;
}

.description div {
    font-size: 14px;
}

.description a {
    color: #f05b41;
}

.description a:visited {
    color: #b11a00;
}

.description ol {
    padding-left: 40px;
}

.description li > p > code {
    margin: 10px;
    display: block;
}

.demo-wrapper .code {
    margin-top: 30px;
}

.demo-wrapper .code .source-block {
    display: none;
}

.demo-wrapper .code .source-block.active {
    display: block;
}

.demo-wrapper .code pre.source-block {
    margin: 0;
    font-size: 13px;
    border: solid #ebebeb;
    border-width: 0 1px 1px 1px;
}

.demo-wrapper .code pre {
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.demo-wrapper .code pre .nocode {
    display: block;
}

.demo-wrapper .code pre .str {
    color: #a11;
}

.demo-wrapper .code pre .typ {
    color: #000;
}

.demo-wrapper .code pre .kwd {
    color: #708;
}

.demo-wrapper .code .dx-tabs {
    background-color: #f7f7f7;
    display: inline-block;
    text-align: left;
}

.demo-wrapper .code .dx-tabs .dx-tabs-wrapper {
    display: inline-block;
}

.demo-wrapper .code .dx-tabs .dx-tab {
    display: inline-block;
    padding: 12px 15px;
    color: #1b4461;
    border-right: 1px solid #e9e9e9;
    background-color: #f9f9f9;
}

.demo-wrapper .code .dx-tabs .dx-tab.dx-tab-selected {
    background-color: #fff;
    color: #f05b41;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.demo-wrapper .code .dx-tabs .dx-tab.dx-state-hover {
    background-color: #FFF;
}

.demo-wrapper .code .dx-tabs .dx-tab.dx-state-focused::after {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: none;
}

.p-t-6 {
    padding-top: 60px;
}

.footer {
    box-sizing: border-box;
    height: 180px;
    padding-top: 50px;
    font-size: 13px;
    background-color: #627789;
    color: #fff;
    clear: both;
    position: relative;
    z-index: 1;
}

.footer .left {
    padding-left: 30px;
    width: 700px;
    float: left;
}

.footer .left div {
    display: inline-block;
}

.footer .left .logo {
    background-image: url(../images/Layout/dx-footer-logo.svg);
    background-repeat: no-repeat;
    width: 157px;
    height: 27px;
    margin-right: 20px;
}

.footer .left .links {
    margin-left: 180px;
    border-top: 1px solid #8192a1;
    padding-top: 10px;
    margin-top: 30px;
}

.footer .left .links a {
    text-decoration: none;
    color: #b1bac2;
}

.footer .left .links a:hover {
    text-decoration: underline;
}

.footer .left .copy p {
    margin: 0;
}

.footer .social {
    float: right;
    margin-right: 40px;
    margin-top: -18px;
}

.footer .social .text {
    color: white;
    font-size: 13px;
    padding-bottom: 5px;
    text-align: right;
}

.footer .social .buttons .social-button {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 4px;
    opacity: 0.6;
}

.footer .social .buttons .social-button:hover {
    opacity: 1;
}

.footer .social .buttons .social-button.rss {
    background-image: url(../images/Layout/social/blog.svg#blog);
}

.footer .social .buttons .social-button.gplus {
    background-image: url(../images/Layout/social/googleplus.svg);
}

.footer .social .buttons .social-button.facebook {
    background-image: url(../images/Layout/social/facebook.svg);
}

.footer .social .buttons .social-button.twitter {
    background-image: url(../images/Layout/social/twitter.svg);
}

.footer .social .buttons .social-button.youtube {
    background-image: url(../images/Layout/social/youtube.svg);
}

.footer .social .buttons .social-button.github {
    background-image: url(../images/Layout/social/github.svg);
}


@media only screen and (min-width: 1950px) {
    header.header .header-container,
    .body,
    .footer-container {
        max-width: 1900px;
        margin: 0 auto;
    }

    .header .logo {
        margin-left: 0;
    }

    .header .header-buttons .dx-logo-container {
        padding-right: 0;
    }

    .demo-wrapper {
        padding: 0 0 30px 30px;
    }

    .widgets-menu .dx-treeview {
        padding: 20px 0 0 0;
    }

    .footer .left {
        padding-left: 0;
    }

    .footer .social {
        margin-right: 0;
    }
}
