.filter-container {
    background-color: rgba(191, 191, 191, 0.15);
    width: 50%;
    float: left;
    margin-bottom: 25px;
    height: 430px;
}

.dx-filterbuilder {
    padding: 10px;
    height: 360px;
    margin: 5px;
}

.dx-filterbuilder .dx-texteditor {
    width: 115px;
}

.dx-button {
    margin: 10px 20px;
    float: right;
}

.list-container {
    float: right;
    width: 50%;
}

.list-container .dx-scrollable-container {
    max-height: 430px;
    padding-left: 30px;
}

.product {
    height: 65px;
}

.product > img {
    height: 100%;
    float: left;
}

.product > div {
    padding-left: 10px;
    vertical-align: top;
    line-height: 65px;
    font-size: 15px;
    float: left;
}

.product > div.price {
    float: right;
    font-size: 18px;
}
