.container {
    position: relative;
    margin-top: 20px;
}

.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    position: absolute;
    top: 29px;
    bottom: 5px;
    left: 420px;
    width: 180px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option {
    margin-top: 10px;
}