.dx-dropdownmenu-list .dx-list-item-content {
    height: 65px;
    border-bottom: 1px solid rgba(191, 191, 191, 0.25);
}

.dx-list-item:last-child .dx-list-item-content {
    border: none;
}

.appointment-content {
    width: 360px;
    margin-top: 3px;
}

.dx-popup-content .appointment-content {
    margin-top: 7px;
}

.appointment-badge {
    text-align: center;
    float: left;
    margin-right: 12px;
    color: white;
    width: 28px;
    height: 28px;
    font-size: 19.5px;
    border-radius: 28px;
    margin-top: 5px;
}

.appointment-dates {
    color: #959595;
    font-size: 12px;
    text-align: left;
    float: left;
}

.appointment-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 270px;
    font-size: 15px;
    text-align: left;
    float: left;
}

#delete-appointment {
    position: relative;
    border: none;
    box-shadow: none;
    top: -8px;
}

#delete-appointment .dx-button-content {
    width: 50px;
    height: 50px;
    padding-left: 4px;
}

#delete-appointment.dx-state-hover,
.dx-list-item.dx-state-hover .dx-button {
    box-shadow: none;
    background-color: inherit;
}

#delete-appointment .dx-icon-trash {
    color: #337ab7 !important;
    font-size: 23px !important;
}
