.dx-scheduler-work-space .dx-scheduler-header-panel-cell .name {
    font-size: 13px;
    line-height: 15px
}

.dx-scheduler-work-space .dx-scheduler-header-panel-cell .number {
    font-size: 15px;
    line-height: 15px
}