#gridContainer {
    height: auto;
    width: 100%;
}

#gridContainer td {
    vertical-align: middle;
}

#gridContainer td.chart-cell {
    overflow: visible;
}

#gridContainer td span.current-value {
    display: inline-block;
    position: relative;
}

#gridContainer td span.diff {
    float: right;
}

#gridContainer td.inc span.diff {
    color: #2ab71b;
}

#gridContainer td.inc span.diff:before {
    content: '+';
}

#gridContainer td.dec span.diff:before {
    content: '-';
}

#gridContainer td.dec span.diff {
    color: #f00;
}

#gridContainer td.inc span.current-value:after,
#gridContainer td.dec span.current-value:after {
    content: '';
    display: block;
    height: 10px;
    width: 10px;
    position: absolute;
    right: -12px;
    top: 5px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

#gridContainer td.inc span.current-value:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADKSURBVHjaYtTaLs1ABEiG0nPRJa56PEHhsxBhmCUQT4OyrwHxcXyKmQgYJgHE64CYDYrXQcXIMhCbAcgWkGzgNKh38QUB0QamIUUErkhKI9ZAGyCeTERkTYaqxWsgKA2txhdG6GGsvUNGGpeBRMUiGhCFGsqGzUBQQJsxkA5AemaiG5hDIBIIgQSgK0FmMDACs549kN5FZLjhA7+A2A2U9YSAOBeLAk4gnoBDczoOcSFGPIUDPxB/wCHHiKtwYGKgMhg1cBAaCBBgAJTUIL3ToPZfAAAAAElFTkSuQmCC');
}

#gridContainer td.dec span.current-value:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAADJSURBVHjaYvzPgBfgkhYA4o8QFahKmBioDEYNHIQGsgBxIBCLkqgvAYi/g1mMjMjir0EJzR6If/6HpChKMMgMe3DKBeIcKhiY8x/MYoDj+RQYNgdkGLqBbEB8kgzDToL1YjEQhKWB+BUJhj0H64Eahs1AELYhMpJ+gtUiGYbLQBBOI8LANLBaIg1kAAc0vkiAqSPBQFAkHcNi2DGoHMkGgrAENOCRI0ECRQ2JBoKwJTQCfkLZDPgMZPxPXN5NhtJzMSsJVBMAAgwAyWSY2svfmrwAAAAASUVORK5CYII=');    
}